* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--opacity-30);
    border-radius: var(--radius-md);
    transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--opacity-50);
}

/* Для Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--opacity-30) transparent;
}